name: Build and Deploy
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'


      - name: Build Web
        run: flutter build web --release --base-href "/customer_support-web/"

      - name: Disable Jekyll
        run: touch build/web/.nojekyll

      - name: Build Web
        run: flutter build web --release --base-href "/customer_support-web/" --pwa-strategy=none

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web